{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card card-custom p-4">
      <h4 class="text-center mb-4">Adnipo - Administrador</h4>
      <form method="post">
        <div class="mb-3">
          <label class="form-label">E-mail</label>
          <input type="email" name="email" class="form-control" required autofocus>
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" name="senha" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-adnipo w-100">Entrar</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
