{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">📝 Novo Evento</h1>
        <a href="{{ url_for('listar_eventos') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>

    <form method="POST" action="{{ url_for('novo_evento') }}">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>

                <div class="mb-3">
                <label for="publicos" class="form-label">Para quem é esse evento?</label>
                <select class="form-select" id="publicos" name="publicos" required multiple>
                    <!-- <option value="">Selecione</option> -->
                    {% for publico in publicos %}
                    <option value="{{ publico.id }}">{{ publico.nome }}</option>
                    {% endfor %}
                </select>
                <small class="form-text text-muted">Segure Ctrl (ou Command) para selecionar vários.</small>
                </div>

                <div class="mb-3">
                    <label for="data_hora" class="form-label">Data e Hora</label>
                    <input type="datetime-local" class="form-control" id="data_hora" name="data_hora" required>
                </div>

                <div class="mb-3">
                <label for="local" class="form-label">Local</label>
                    <select class="form-select" id="local" name="local" required>
                        <option value="">Selecione o local</option>
                        <option value="Adnipo - Centro">Adnipo - Centro</option>
                        <option value="Adnipo - Aeroporto">Adnipo - Aeroporto</option>
                        <option value="Adnipo - Centro - Sala Pastoral">Adnipo - Centro - Sala Pastoral</option>
                        <option value="Adnipo - Aeroporto - Sala Pastoral">Adnipo - Aeroporto - Sala Pastoral</option>
                        <option value="Adnipo - Centro - Nave">Outros</option>
                    </select>
                </div>


                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="4"></textarea>
                </div>
            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-adnipo">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
