{% extends 'base.html' %}
{% block title %}Carteirinha de {{ membro.nome }}{% endblock %}

{% block content %}
<div class="card mx-auto mt-5" style="max-width: 350px; border-radius: 15px;">
  <div class="card-header text-center bg-adnipo text-white">
    <h4>ADNIPO</h4>
    <small>Carteira de Membro</small>
  </div>
  <div class="card-body text-center">
    <img src="{{ url_for('static', filename='img/logo-carteirinha.png') }}" class="mb-3" style="width: 80px;" alt="Logo">
    <h5>{{ membro.nome }}</h5>
    <p class="text-muted">{{ membro.oficio }}</p>
    <p><strong>Telefone:</strong> {{ membro.telefone }}</p>
    <p><strong>Email:</strong> {{ membro.email }}</p>
    <p><strong>Data Batismo:</strong> 
      {% if membro.data_batismo %}
      {{ membro.data_batismo.strftime('%d/%m/%Y') }}
      {% else %}
        Não batizado
      {% endif %}
    </p>
    <hr>
    <img src="data:image/png;base64,{{ qr_code | b64encode }}" alt="QR Code" class="mb-3" style="width: 120px; height: 120px;">
    <hr>
    <small class="text-muted">Emitido em {{ membro.data_cadastro.strftime('%d/%m/%Y') }}</small>
  </div>
</div>
{% endblock %}
