{% extends 'base.html' %}

{% block content %}
    <!-- <h1 class="display-5">Seja bem-vindo, {{ usuario_logado.nome }}!</h1> -->

    <div class="container my-5">
        <div class="text-center mb-5">
            <h1>Bem-vindo, {{ usuario_logado.nome }}!</h1>
            <p class="lead">Este é o Painel Administrativo da Assembleia de Deus Nipo Brasileira - ADNIPO.</p>
            <hr class="my-4">
        </div>

        <div class="row">
            {% if usuario_logado.is_admin %}
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                    <h5 class="card-title">📋 Gerenciar Membros</h5>
                    <p class="card-text">Visualize, cadastre, edite e exclua informações de membros da igreja.</p>
                    <a href="{{ url_for('listar_membros') }}" class="btn btn-adnipo btn-sm">Acessar</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                    <h5 class="card-title">📊 Relatórios e Estatísticas</h5>
                    <p class="card-text">Veja estatísticas de membros por cidade, ofício e muito mais.</p>
                    <a href="{{ url_for('listar_membros') }}" class="btn btn-adnipo btn-sm">Ver Relatórios</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                    <h5 class="card-title">➕ Novo Membro</h5>
                    <p class="card-text">Adicione novos membros ao cadastro com informações completas.</p>
                    <a href="{{ url_for('novo_membro') }}" class="btn btn-adnipo btn-sm">Cadastrar</a>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if not usuario_logado.is_admin and usuario_logado.membro %}
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title">🪪 Minha Carteirinha</h5>
                        <p class="card-text">Visualize sua carteirinha digital com QR Code.</p>
                        <a href="{{ url_for('carteirinha_membro', membro_id=usuario_logado.membro.id) }}" class="btn btn-adnipo btn-sm">Ver Carteirinha</a>
                    </div>
                </div>
            </div>

            {% endif %}

            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">📅 Reuniões</h5>
                            <p class="card-text">Confira as próximas e reuniões passadas.</p>
                            <a href="{{ url_for('listar_reunioes') }}" class="btn btn-adnipo btn-sm">Ver Reuniões</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body">
                    <h5 class="card-title">🚪 Sair</h5>
                    <p class="card-text">Encerrar sua sessão e retornar para a área pública do site.</p>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm">Logout</a>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="border-radius: 15px;">
                <div class="card-body">
                    {% if reuniao %}
                        <h5 class="card-title">{{ reuniao.tema }}</h5>
                        <p class="card-text">{{ reuniao.descricao }}</p>
                        <p class="card-text">
                            <i class="bi bi-calendar-event"></i> {{ reuniao.data_hora.strftime('%d/%m/%Y %H:%M') }} <br>
                            <i class="bi bi-geo-alt"></i> {{ reuniao.local }}
                        </p>
                        <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ reuniao.tema }}&dates={{ reuniao.data_hora.strftime('%Y%m%dT%H%M00Z') }}/{{ (reuniao.data_hora + timedelta(hours=1)).strftime('%Y%m%dT%H%M00Z') }}&details={{ reuniao.descricao }}&location={{ reuniao.local }}" 
                        target="_blank" class="btn btn-adnipo">
                        Adicionar ao Google Agenda
                        </a>
                    {% else %}
                        <h5 class="card-title">Nenhuma reunião agendada</h5>
                        <p class="card-text">Atualmente não há reuniões cadastradas.</p>
                    {% endif %}
                </div>
            </div>



        </div>
    </div>

{% endblock %}
